@using Nordea.Models.Enum
@model Nordea.Models.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Exercise";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Text, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
                    </div>
                    </div>
                    <div class="form-group">
                    @Html.LabelFor(m => m.ResultType, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @foreach (var value in Enum.GetValues(typeof(ResultType))) {
                                @Html.RadioButtonFor(m => m.ResultType, value)
                                @Html.Label(value.ToString())
                            }
                        </div>

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Execute" class="btn btn-default" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Result", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <p>@Html.Raw(Html.Encode(@ViewBag.Result).Replace("\n", "<br/>").Replace(" ", "&#160;"))</p>
                    </div>
                </div>

            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}